.holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.item-1{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 200px;
    background-color: yellow;
}